.home {
  background-color: white;

}


#textField1 {
  margin: 10px;
  background-color: #555;
  border:2px solid crimson ;
  border-radius: 8px;
  width: 40%;
  padding: 6px;
}

input[type=text] {
  border: none;
  width: 75%;
  padding: 10px;
  background-color: #555;
  border-radius: 8px;
  outline: none;
}

input[type=text] :focus {
  border: none; 
  padding: 10px;
  outline: none;
  border-color: #555;
  background-color: #555;
}

.theScreen {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 10px;
  padding: 10px;
  overflow-y: scroll;
  width: 95%;
  border: 5px solid crimson;
}

.yourMessage {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  max-width: 40%;
  border-radius: 5px;
  word-wrap: break-word;

  background-color: #007bff;
  color: white;
  float: left;
}

.otherMessage {
  max-width: 40%;
  padding: 10px;
  margin-left: 60%;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  word-wrap: break-word;

  background-color: #e0e0e0;
  color: white;
  float: right;
}


.theScreen::-webkit-scrollbar {
  cursor: pointer;
  width: 12px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Set the color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Set the color when the scrollbar handle is hovered */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: #f0f0f0;
  /* Set the color when the scrollbar track is hovered */
}

/* Button (arrows) */
::-webkit-scrollbar-button {
  display: none;
  /* Hide the scrollbar buttons (arrows) */
}

/* Track piece (the part of the track not covered by the handle) */
::-webkit-scrollbar-track-piece {
  background: #f0f0f0;
  /* Set the color of the track piece */
}

/* Corner between vertical and horizontal scrollbars */
::-webkit-scrollbar-corner {
  background: #f0f0f0;
  /* Set the color of the scrollbar corner */
}


.scrollable:hover {
  cursor: pointer;
  /* You can use any valid CSS cursor value here */
}

button {
  margin: 5px;
  
  width: 18%;
  height: 30px;
  background-color: crimson;
  border-radius: 8px;
  border-color: black;
  border-style: solid;
}